<footer class="footer">
    <div class="getTouch">
       <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 eualColum blue">

              <div class="elementor-icon-box-wrapper">
                <div class="elementor-icon-box-icon">
              <span class="elementor-icon elementor-animation-">
              <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
            </div>
                  <div class="elementor-icon-box-content">
              <h5 class="elementor-icon-box-title">
                <span>call today</span>
              </h5>
              <p class="elementor-icon-box-description"><a href="tel:#">+800 123 45 67</a></p>
            </div>
          </div>


            </div>
            <div class="col-sm-4 eualColum yellow">
              <div class="elementor-widget-container">
                <div class="elementor-icon-box-wrapper">
                <div class="elementor-icon-box-icon">
              <span class="elementor-icon elementor-animation-">
             <i class="fa fa-map-o" aria-hidden="true"></i> 
              </span>
            </div>
                  <div class="elementor-icon-box-content">
              <h5 class="elementor-icon-box-title">
                <span>Request a free quote</span>
              </h5>
              <p class="elementor-icon-box-description"><a href="tel:#">+800 123 45 67</a></p>
            </div>
          </div>
              </div>


            </div>
            <div class="col-sm-4 eualColum orange">

              <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
              <section data-id="0262d19" class="elementor-element elementor-element-0262d19 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section jet-parallax-section" data-element_type="section"><div class="jet-parallax-section__layout jet-parallax-section__scroll-layout"><div class="jet-parallax-section__image" style="background-image: url(&quot;&quot;); background-size: auto; background-position: 50% 50%; transform: translateY(57.3px);"></div></div>
                  <div class="elementor-container elementor-column-gap-no">
              <div class="elementor-row">
              <div class="elementor-column-custom-padding elementor-element elementor-element-d0a2b4b elementor-column elementor-col-100 elementor-inner-column" data-id="d0a2b4b" data-element_type="column">
            <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
              <div data-id="1236" class="elementor-element elementor-element-1236 elementor-view-default elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-element_type="icon-box.default">
              <div class="elementor-widget-container">
                <div class="elementor-icon-box-wrapper">
                <div class="elementor-icon-box-icon">
              <span class="elementor-icon elementor-animation-">
              <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
              </span>
            </div>
                  <div class="elementor-icon-box-content">
              <h5 class="elementor-icon-box-title">
                <span>email us</span>
              </h5>
              <p class="elementor-icon-box-description"><a href="mailto:info@company.com">info@company.com</a></p>
            </div>
          </div>
              </div>
              </div>
                  </div>
            </div>
          </div>
                  </div>
            </div>
          </section>
                  </div>
            </div>

            </div>


        </div>
      </div> 
    </div>

<div class="footer-area-wrap invert">

      <div class="container">

        <div class="footer-area">
          <div class="row">
              <div class="col-md-3">
                  <div class="widget">
                    <h6 class="widget-title">About school</h6>
                    <p>We are responsible for your kids’ intelligence, skills and horizon before they enter elementary school. Our school is dedicated to teaching students through positive learning experiences so that they will be successful at the elementary school.</p>

                  </div> 



              </div>
              <div class="col-md-3">


  <div class="widget">
                    <h6 class="widget-title">Contact Us</h6>
                    <ul class="contact-information-widget__inner">
                        <li class="contact-information__item ">
                            <div class="contact-information__item-content">4096 N Highland St, Arlington VA 32101, USA</div></li>
                        
                        <li class="contact-information__item ">
                            <div class="contact-information__item-content"><a href="mailto:school@company.com">school@company.com</a> </div></li>
                        
                        <li class="contact-information__item ">
                            <div class="contact-information__item-content">800 1234 56 78</div></li>
                        </ul>

                  </div> 
                
              </div>
              <div class="col-md-3">
                  <div class="widget">
                      <h6 class="widget-title">QUICK LINKS</h6>
                        <ul class="footerLinks">
                          <li><a href="">Home</a></li>
                          <li><a href="">Services</a></li>
                          <li><a href="">About Us</a></li>
                          <li><a href="">News</a></li>
                          <li><a href="">Contact</a></li>
                          
                        </ul>       
  
                    </div> 


              </div>
              <div class="col-md-3">
                  <div class="widget">
                      <h6 class="widget-title">NEWSLETTER</h6>
                       
                      <div class="form-group"> <a href=""><i class="zmdi zmdi-email"></i> </a>   <input type="text" placeholder="Enter your email" class="form-control"> </div>
                      <h6 class="widget-title">FOLLOW</h6>

                      <ul class="socialItems">
                          <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>


                      </ul>

                    </div> 
</div>

          </div>

</div>

      </div>


</div>
<div class="footer-container invert">
    <div class="container">
      <div class="site-info">
        <div class="site-info-wrap">
            <div class="row">
                <div class="col-sm-4">
                    <div class="">
                        <div class="footer-logo">
                            <a href="">  Foofter logo  </a>

                        </div>

                    </div>



                </div>
                <div class="col-sm-8">
                    <div class="footer-copyright">© 2018 Teddy Academy. All rights reserved.</div>


                </div>


            </div>
         </div>
      </div><!-- .site-info -->
    </div>
  </div>


</footer>