<div class="col-md-5">
        <div class="loginBlock">
          <div class="loginTitle"><span>Login</span></div>

          <div class="form-group">
             
              <input type="text" placeholder="Email-ID or Asky-ID" class="form-control">
              <i class="zmdi zmdi-account-box-o"></i>

          </div>

          <div class="form-group">
             
              <input type="password" placeholder="Password" class="form-control">
              <i class="zmdi zmdi-lock-outline"></i>

          </div>
          <Div class="row">
            <div class="col-8">
              <div class="forgetPass"><a href="">Forgot Password </a> <span> |</span>  <a href="">Forgot ID</a>  </div>

            </div>
            <div class="col-4">
                <div class="text-right">
                    <button class="blueBtn">Login</button>

                </div>

            </div>


          </Div>


      </div>  

    </div>